<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meldet euch bei uns</h2>
                    <h2 class="section-subheading text-muted">BelovedChild</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Lichtenstein</h2>
                                <h2 class="section-subheading text-muted">Musterstrasse</h2>
                                <h2 class="section-subheading text-muted">muster@muster.com</h2>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="list-inline quicklinks">
                    <li><a href="mailto:test@test.de">test@test.de</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
